<div class="containner">
    <img src="./assets/head-image.png"/>
    <div class="wellcome-text-containner">
        <div class="title">Sinaliza Prova</div>
        <div class="presentation-text">
            Um sistema descomplicado, focado para a crição de provas enclusivas e a comunição em libras com altonoimia.
            
        </div>
        <div>
            <button type="button" class="know-btn">
                <i class="fa-solid fa-arrow-down"></i>
                Conhecer
            </button>
        </div>
    </div>
</div>