<div class="containner">
    <div class="title">Trabalhamos com as mais modernas tecnologias</div>
    <div class="stack-containner">
        <div class="tech-item">
            <img alt="node" src="./assets/node-logo.png">
        </div>
        <div class="tech-item">
            <img alt="angular" src="./assets/angular-logo.png">
        </div>
        <div class="tech-item">
            <img alt="mysql" src="./assets/mysql-logo.png">
        </div>
        <div class="tech-item">
            <img alt="mongo" src="./assets/mongo-logo.png">
        </div>
    </div>
    <div class="stack-containner">
        <div>NodeJS</div>
        <div>Angular</div>
        <div>Mysql</div>
        <div>MongoDB</div>

    </div>
</div>