<div class="containner">
    <div class="side left" id="left-side">
        <div class="title">Contato</div>
        <div>
            <input [(ngModel)]="email" type="text" placeholder="Seu melhor e-mail*:">
        </div>
        <div>
            <textarea [(ngModel)]="subject" placeholder="Conte-nos um pouco sobre a sua idéia:"></textarea>
        </div>
        <div>
            <button (click)="sendEmail()">Enviar</button>
        </div>
    </div>
    <div class="side">
        <img src="./assets/logo.png" alt="">
        <div class="x-link">
            <i class="fa-brands fa-instagram"></i> xotedigital.oficial
        </div>

    </div>
</div>
