<div class="containner">
    <div class="side left" id="left-side">
        <div class="title">Contato</div>
        <div>
            <input type="text" placeholder="E-mail*:">
        </div>
        <div>
            <textarea placeholder="Descrição:"></textarea>
        </div>
        <div>
            <button>Enviar</button>      
        </div>
    </div>
    <div class="side">
        <img src="./assets/logo.png" alt="">
        <div class="x-link">
            <i class="fa-brands fa-instagram"></i> xotedigital.oficial       
        </div>
        
    </div>
</div>