$colors: red, orange, yellow, green, blue, purple;
$repeat: 20; // How often you want the pattern to repeat.
.navbar {
  width: 100%;
  display: flex;
  height: 78px;
  padding: 10px;
  position: sticky;
  top: 0;
  background: rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  .nav-item {
    font-size: 20px;
    padding: 10px;
    min-width: 50px;
    cursor: pointer;
  }

  .nav-item:hover {
    border-bottom: 5px solid var(--dark-red);
    border-radius: 5px;

  }

  .brand {
    width: 30%;

    img {
      height: 50px;
    }
  }
}

