<div class="containner">
    <img src="./assets/sinaliza.png">
    <div class="title">Sinaliza Prova</div>
    <div class="descripition">Sinaliza prova é nosso sistema pensado para pessoas alunos deficiência auditiva e nossa ideia de contribuição para um mundo de oportunidades mais igualitárias.</div>
    <img src="./assets/sinaliza-home.png" alt="">
    <div class="title">Nossos diferenciais</div>

    <div class="promotion-containner">
        <div class="promotion-item">
            <i class="fa-solid fa-book-open"></i>
            <div class="info">Elaboração de provas </div>
        </div>
        <div class="promotion-item">
            <i class="fa-solid fa-arrow-pointer"></i>
            <div class="info">Acesso simplificado </div>
        </div>
    </div>
    <div class="promotion-containner">
        <div class="promotion-item">
            <i class="fa-solid fa-database"></i>
            <div class="info">Amplo acervo de questões adaptadas</div>
        </div>
        <div class="promotion-item">
            <i class="fa-solid fa-users"></i>
            <div class="info">Construa com a comunidade</div>
        </div>
    </div>

</div>